In [1]:
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#lets load the mercedes benz dataset for demonsration
data = pd.read_csv(r'C:\Users\Manoj Nahak\Krish Naik Youtube\Feature Engineering\One Hot encoding\mercedes_benz_train.csv', 
                  usecols=['X1','X2','X3','X4','X5','X6'])

In [3]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [9]:
#lets have a look at how many unique labels each variable has

for col in data.columns:
    print(col,': ',len(data[col].unique()),'labels')

X1 :  27 labels
X2 :  44 labels
X3 :  7 labels
X4 :  4 labels
X5 :  29 labels
X6 :  12 labels

# one hot encoding

In [10]:
#lets examin how many columns will obtain after one hot encoding these variables
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

In [11]:
#we can see that from just 6 initial categorical variables, we end up with 117 new variables
#What can we do instead?
#solution: We can take the 10 most frequent labels from each variable and the remaimng labels will be skipped

In [15]:
#lets find the top 10 most frequent labels/categories for the variable X2
data.X2.value_counts().sort_values(ascending=False).head(15)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
Name: X2, dtype: int64

In [17]:
#lets make a list with the most frequent top 10 categories of the variable and store it in top_10
top_10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [18]:
#and now we make the 10 binary variables

for label in top_10:
    data[label]=np.where(data['X2']==label,1,0)

In [19]:
#viewing the X2 column with its top_10 labels where binary condition is applied
data[['X2']+top_10].head(20)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0

# get whole set of dummy variables, for all the categorical variables

In [20]:
#defining function with parameters
def one_hot_top_x(df,variable,top_x_labels):
#function to create the dummy variables for the most frequent labels
#we can vary the number of most frequent labels that we encode

    for label in top_x_labels:
        df[variable+'_'+label]=np.where(data[variable]==label,1,0)
        
#read the data again 
data = pd.read_csv(r'C:\Users\Manoj Nahak\Krish Naik Youtube\Feature Engineering\One Hot encoding\mercedes_benz_train.csv', 
                   usecols=['X1','X2','X3','X4','X5','X6'])

#encode X2 into the 10 most frequent categories 
one_hot_top_x(data, 'X2', top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [21]:
#find the top_10 categories for X1 variable
top_10=[x for x in data.X1.value_counts().sort_values(ascending=False).head(10).index]

#now create the 10 most frequent dummy variables for X1 using the same function which we created above
one_hot_top_x(data, 'X1', top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

# one hot encoding of top variables

# Advantages
straight-forward to implement
Does not requre hrs of variable exploration
Does not expand massively the feature space (no of columns in dataset)

#Disadvantage
Does not add any information that may make the variable more predective
Does not keep the information of the ignored variables